<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <title>Items list</title>

    <style type='text/css'>
        .brd{
        display: inline;
        width: 100px; /* Ширина слоя */
        margin: 0; /* Значение отступов */
        margin-bottom: 10%; /* Нижний отступ */
        padding: 10px; /* Поля вокруг текста */
        border: 4px solid black; /* Параметры границы */
        background: #fc0; /* Цвет фона */
        }
    </style> 
</head>
<body>

    <header>
        / <a href='/'>Home</a> / <a href='/items'>Items</a> / <a href='/about'>About</a> /
    </header>

    <h2>Список товаров</h2>

        {% for item in items %}
           <div class='brd'><a href='/item/{{ item.id }}'>{{ item.name }}</a></div>
        {% endfor %}



</body>
</html>